<div class="quiz-question-container">
  <label for="quiz_question_label">Question Label</label>
  <input type="text" name="quiz_question_label" value="" placeholder="Which bear is best?" class="form-control">
  <!-- ANSWER/CHOICE CONTAINER-->
  <div class="quiz-question-answer-container">
    <label for="quiz_question_answer_label">Add Question Choice</label>
    <!-- A -->
    <div class="row">
      <div class="col-md-9">
        <input type="text" name="quiz_question_answer_label" value="" placeholder="A. False. Black Bear" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="">Correct Answer?</label>
        <input type="checkbox" name="" value="">
      </div>
    </div>

    <!-- B -->
    <div class="row">
      <div class="col-md-9">
        <input type="text" name="quiz_question_answer_label" value="" placeholder="B. False. Black Bear" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="">Correct Answer?</label>
        <input type="checkbox" name="" value="">
      </div>
    </div>

    <!--C -->
    <div class="row">
      <div class="col-md-9">
        <input type="text" name="quiz_question_answer_label" value="" placeholder="C. False. Black Bear" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="">Correct Answer?</label>
        <input type="checkbox" name="" value="">
      </div>
    </div>

    <!--D -->
    <div class="row">
      <div class="col-md-9">
        <input type="text" name="quiz_question_answer_label" value="" placeholder="D. False. Black Bear" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="">Correct Answer?</label>
        <input type="checkbox" name="" value="">
      </div>
    </div>
  </div>
  <!--  END ANSWER/CHOICE CONTAINER-->
</div>
