<h1 class="title">{{quiz_name}}</h1>
      <div class="card">
        <div class="card-block">
          <iframe width="560" height="315" src={{quiz_video_url}} frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h2>Questions</h2>
        <!-- QUESTION CONTAINER-->
        <!--  DO FOR EACH HERE -->
        
        <div class="quiz-question-container" id="quiz_questions">
          <label for="quiz_question_label">Question Label</label>
          <p>Which bear is best?</p>
          <!-- ANSWER/CHOICE CONTAINER-->
          <div class="quiz-question-answer-container">
            <label for="quiz_question_answer_label">Select Answer</label>
            <!-- A -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  B -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  C -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  D -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
          </div>
        </div>

        <!--  2 -->
        <div class="quiz-question-container" id="quiz_questions">
          <label for="quiz_question_label">Question Label</label>
          <p>Which bear is best?</p>
          <!-- ANSWER/CHOICE CONTAINER-->
          <div class="quiz-question-answer-container">
            <label for="quiz_question_answer_label">Select Answer</label>
            <!-- A -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  B -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  C -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  D -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
          </div>
        </div>

        <!--  3  -->
        <div class="quiz-question-container" id="quiz_questions">
          <label for="quiz_question_label">Question Label</label>
          <p>Which bear is best?</p>
          <!-- ANSWER/CHOICE CONTAINER-->
          <div class="quiz-question-answer-container">
            <label for="quiz_question_answer_label">Select Answer</label>
            <!-- A -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  B -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  C -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
            <!--  D -->
            <div class="row">
              <div class="col-md-3">
                <label for="">Correct Answer?</label>
                <input type="checkbox" name="" value="">
              </div>
              <div class="col-md-9">
                False. Black Bear
              </div>
            </div>
          </div>
        </div>
        <!--  END QUESTION CONTAINER-->
      </div>
    </div>
  </div>
</div>
</div>

<!-- SUBMIT BUTTON -->
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="submit-quiz">
      <button type="button" name="button" class="btn btn-primary" id="submit-quiz">Submit Quiz</button>
    </div>
  </div>
</div>
</div>
